JWT_SECRET 
DOMAIN = http://localhost:3002
GOOGLE_CLIENT_ID 
GOOGLE_CLIENT_SECRET 
GOOGLE_REDIRECT_URI = http://localhost:3002/register/google/callback
MONGO_URL 
RAZORPAY_API_KEY 
RAZORPAY_API_SECRET 