JWT_SECRET = your-jwt-secret
DOMAIN = http://localhost:3002
GOOGLE_CLIENT_ID = get from console-google , needed for OAuth
GOOGLE_CLIENT_SECRET = get from console-google , needed for OAuth
GOOGLE_REDIRECT_URI = http://localhost:3002/register/google/callback
MONGO_URL = your mongo db uri
RAZORPAY_API_KEY = get from razorpay , create account and go for test api keys
RAZORPAY_API_SECRET  get from razorpay , create account and go for test api keys